{% extends "_layout/site" %}
{% block content %}
    <section class="c-section c-online-shop c-border"> 
        <div class="c-background -two">
            <div class="o-wrapper">
                <div class="c-page_wrap">
                    <div class="o-wrap-two">
                        <h1>{{"Profil"}}</h1>
                        {% if currentSite.language == "fr" %}
                            <div> 
                                <script type='text/javascript' data-cfasync="false" src='https://app.ecwid.com/script.js?4227048'></script> 
                                <script type='text/javascript'> xProductBrowser("id=4227048"); </script> 
                            </div>
                        {% else %}
                            <div>
                                <script type='text/javascript' data-cfasync="false" src='https://app.ecwid.com/script.js?4227048'></script> 
                                <script type='text/javascript'> xProductBrowser("id=4227048"); </script> 
                            </div>
                        {% endif %} 
                    </div>      
                </div>  
            </div>
        </div>
    </section>
{% endblock %}

