    {% set multipleChoiceArray = "" %}
    {% set entries = craft.entries.section('placeDelivery').order('title').all() %}

    {% for entry in entries %}
        {% set multipleChoiceArray = multipleChoiceArray ~ entry.title ~ '*' ~ entry.placeDeliveryAddress.lat ~ '*' ~ entry.placeDeliveryAddress.lng ~ '*' ~ entry.placeDeliveryDays.value ~ '*' ~ entry.deliveryAddress|nl2br ~ '*' ~ entry.placeDeliveryDays.label ~ '*' ~ "Voir sur la carte	" ~ '*' %} 
        {%if(loop.index != loop.last)%}
            {% set multipleChoiceArray = multipleChoiceArray ~ " | " %}
        {% endif %}
    {% endfor %}

    <p class="c-array">{{multipleChoiceArray}}</p>



<section class="c-section c-points-of-sale c-border">
	<div class="c-background -two">
		<div class="o-wrapper">
			<div class="c-page_wrap">
				<div class="o-wrap-four">
					<div class="o-layout o-layout--huge">
						<div class="o-layout__item c-contact_info u-1/2">
							<h1>{{entry.title}}</h1>

							                        <ul id="js-scrollbar" class="o-list-bare c-list-point container"></ul>

						</div>
						
					</div>
				</div>
			</div>
		</div>
<div class="c-map u-1/2">
							<div id="google-map"></div>





						</div>		
	</div>
</section>