<section class="c-section c-our-producers">
	<div class="c-our-producers_wrap">
		<div class="o-wrapper">
			<div class="o-wrap-three">
				<h2>{{'Our producers and owners'|t}}</h2>
				<div class="o-layout o-layout--huge">
					<div class="c-our-producers_slide">
					{% for block in entry.ourProducers %}
					    {% if block.type == "ourProducersTab" %}
							<div class="o-layout__item c-our-producers_info">
								<div class="c-our-producers_content">
									<img class="c-our-producers_img" src="{{block.ourProducersImage.one().url()}}" alt="{{block.ourProducersImage.one().title}}">
					        		<h3>{{ block.ourProducersName }}</h3>
					        		<p>{{block.ourProducersRole}}
					        		<br>{{block.ourProducersRoleYear}}</p>
					        	</div>
							</div>
					    {% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>